<launch>
<!-- map config-->
<arg name="map" default="map_c304_2.yaml" />

    <!-- Run map server and load map-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find swarm_navigation)/maps/$(arg map)"/>
	<param name="frame_id" value="sw1/map" />
	<remap from="/cmd_vel" to="sw1/cmd_vel"/>
	<remap from="/scan" to="sw1/scan"/>
	<remap from="sw1/odom" to="odom"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="sw2_to_sw1" args="0 0.5 0 0 0 0 0 map sw2/base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" name="sw3_to_sw1" args="0 -0.5 0 0 0 0 0 map sw3/base_footprint 100" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster1" args="0 0 0 0 0 0 0 map odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="odom_base_broadcaster1" args="0 0 0 0 0 0 0 odom sw1/base_footprint 100" /> -->

    <!-- Run move base -->
    <include file="$(find swarm_navigation)/launch/swarm_move_base.launch"/>

    <!-- Run AMCL -->
    <include file="$(find swarm_navigation)/launch/swarm_amcl.launch" />

    <!-- Load Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find swarm_navigation)/rviz/nav5.rviz"/>
<!-- Static tf between map and odom -->
  <arg name="static_tf" default="true" />
  <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0 0 0 0 sw1/odom sw1/map" />

  <!-- <node name="pictogram_server" pkg="swarm_choosestation" type="pictogram_server" args="$(find swarm_choosestation)/scripts/" output="screen"/>
  <node name="optimalPath_server" pkg="swarm_choosestation" type="optimalpath_server" args="$(find swarm_choosestation)/scripts/" output="screen"/> -->
  <include file="$(find swarm_choosestation)/launch/run_allserver.launch" />
</launch>
